body {
    background: #FAFBFE;
    height: 100vh;
}

.icon-cart {
    font-size: 25px;
}

.select {
    width: 60px;
}
.height{
    height: 100vh;
}
.p-absolute{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-close{
    font-size: 1.4rem;
    cursor: pointer;
    color: #b92f2f;
}

.shadow {
    box-shadow: 0px 6px 20px -4px rgba(0, 0, 0, 0.103);
}

.btn-outline-mybtn {
    color: #000000e8;
    background-color: transparent;
    background-image: none;
    border-color: #000000e8;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #000000e8;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-outline-mybtn:hover {
    color: white;
    background-color: #000000e8;
    border-color: #000000e8;
}

.btn-outline-mybtn:focus {
    outline: none;
}

.btn-mybtn {
    color: #fff;
    background-color: #000000e8;
    background-image: none;
    border-color: #000000e8;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #000000e8;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-mybtn:hover {
    color: white;
    background-color: #000000e8;
    border-color: #000000e8;
    text-decoration: none;
}

.btn-mybtn:focus {
    outline: none;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.footer-copyright {
    background: #d6cece;
}

.textarea-app {
    height: 4rem;
}

.fixed {
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
}

.content_line{
    border-right: 1px solid rgba(143, 143, 143, 0.39);
}
.list-group {
    box-shadow: 0 0.75rem 1.5rem rgba(51, 56, 63, 0.03)!important;
}

.image-carro{
    width: 140px;
}
.sidebarShow{
    z-index: 1000;
    padding-top: 15px;
    width: 350px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(255, 255, 255);
    transition: all .3s ease-in-out;
    box-shadow: -2px 0px 11px 0px rgba(0,0,0,0.36);
    overflow-y: scroll;

}
.close{
    right: -350px;
}
.imageDetalle{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.container-sidebar{
    position: relative;
    height: max-content;
}
.container_button{
    margin: 10px;
    position: absolute;
    bottom: -42px;
    left: 0;
    right: 0;
}

.avatar{
    width:32px;
    height: 32px;
    background: linear-gradient(to top, #000000, #434343);
    border-radius: 50%;
}
.dropdown-menu{
    z-index: 2000;
}

.carritoVacio{
    width: max-content;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.input-disabled{
    border: 0;
    background: transparent;
}

.form-control-cantidad{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media only screen and (max-width: 950px) {
    .image-carro{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }    
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}