body {
    background: #FAFBFE;
    position: relative; 
}
p{
    cursor: default;
}
.color {
    width: 25px;
    height: 25px;
    margin: 5px;
    border-radius: 100%;
}
.carousel-shop {
    height: 45vh;
}

.input-search {
    display: none!important;
}

.title-categoria,
.title-talla {
    margin: 0;
}

.page-footer {
    background: #e2dada;
}

.btn-outline-mybtn {
    color: #000000e8;
    background-color: transparent;
    background-image: none;
    border-color: #000000e8;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #000000e8;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-outline-mybtn:hover {
    color: white;
    background-color: #000000e8;
    border-color: #000000e8;
}

.btn-outline-mybtn:focus {
    outline: none;
}

.btn-mybtn {
    color: #fff;
    background-color: #000000e8;
    background-image: none;
    border-color: #000000e8;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #000000e8;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-mybtn:hover {
    color: white;
    background-color: #000000e8;
    border-color: #000000e8;
    text-decoration: none;
}

.btn-mybtn:focus {
    outline: none;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}


.footer-copyright {
    background: #d6cece;
}

.textarea-app {
    height: 4rem;
}

.caption {
    position: absolute;
}

.badge-shop {
    font-size: 13px;
}

.categoria,
.colores,
.talla {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.753);
    cursor: pointer;
    border-left: 6px solid rgba(0, 0, 0, 0.753);
}

.itemscateg,
.itemscolor {
    list-style: none;
    margin: 0;
    padding-top: 15px;
    padding-left: 10px;
}

.items-categ {
    margin-bottom: 10px;
}

.bg-navbar {
    background: rgba(0, 0, 0, 0.753);
}

.shadow {
    box-shadow: 0 0.75rem 1.5rem rgba(51, 56, 63, 0.082)!important;
}

.image {
    transition: all .4s;
    height: 300px;
    object-fit: cover;
}
.icon-close{
    font-size: 1.4rem;
    cursor: pointer;
    color: #b92f2f;
}

.sidebarShow{
    position: relative;
    padding-top: 15px;
    width: 350px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(255, 255, 255);
    transition: all .3s ease-in-out;
    box-shadow: -2px 0px 11px 0px rgba(0,0,0,0.36);
    overflow-y: scroll;

}
.close{
    right: -350px;
}
.imageDetalle{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.container-sidebar{
    position: relative;
    height: max-content;
}
.container_button{
    margin: 10px;
    position: absolute;
    bottom: -42px;
    left: 0;
    right: 0;
}
.card-product-cart{
    border-bottom: 1px solid rgba(51, 51, 51, 0.205);
    margin-bottom: 15px;
}

@media screen and (max-width: 1000px) {
    .navbar-shop-items {
        flex-direction: row;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-basis: auto;
        justify-content: center;
    }
    .items-shop {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}

.avatar{
    width:32px;
    height: 32px;
    background: linear-gradient(to top, #000000, #434343);
    border-radius: 50%;
}

.carritoVacio{
    width: max-content;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}