body {
    background: #FAFBFE;
    position: relative; 
}
p{
    cursor: default;
}
.btn-outline-mybtn {
    color: #000000e8;
    background-color: transparent;
    background-image: none;
    border-color: #000000e8;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #000000e8;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-outline-mybtn:hover {
    color: white;
    background-color: #000000e8;
    border-color: #000000e8;
}

.btn-outline-mybtn:focus {
    outline: none;
}


.btn-mybtn:hover {
    color: white;
    background-color: #000000e8;
    border-color: #000000e8;
    text-decoration: none;
}

.btn-mybtn:focus {
    outline: none;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}


.badge-shop {
    font-size: 13px;
}


.avatar{
    width:32px;
    height: 32px;
    background: linear-gradient(to top, #000000, #434343);
    border-radius: 50%;
}

td{
    padding:10px 5px!important;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}