#body{
    height: 100vh;
}
.shadow {
    box-shadow: 0px 6px 20px -4px rgba(0,0,0,0.2);
}
.shape{
    clip-path: polygon(0 0, 80% 0%, 28% 100%, 0% 100%);
    width: 100%;
    height: 100vh;
    background: #d6d6d683;
    position: absolute;
}

.btn-mybtn {
    color: #fff;
    background-color: #000;
    background-image: none;
    border-color: #000;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.image_logo{
    height: auto;
     width: auto;
      max-width: 100px;
       max-height: 100px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}