body {
    background: #FAFBFE;
    margin: 0;
    overflow-x: hidden;
}

.icon {
    transition: 1s;
    font-size: 25px;
}

.btn-outline-mybtn {
    color: #000000e8;
    background-color: transparent;
    background-image: none;
    border-color: #000000e8;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #000000e8;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-outline-mybtn:hover {
    color: white;
    background-color: #000000e8;
    border-color: #000000e8;
}

.btn-outline-mybtn:focus {
    outline: none;
}

.btn-mybtn {
    color: #fff;
    background-color: #000000e8;
    background-image: none;
    border-color: #000000e8;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #000000e8;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-mybtn:hover {
    color: white;
    background-color: #000000e8;
    border-color: #000000e8;
    text-decoration: none;
}

.btn-mybtn:focus {
    outline: none;
}

.active {
    border-left: 5px solid #181818e8;
    background-color: #000000e8;
}

.navbar-app {
    background-color: #000000e8;
    color: rgb(255, 255, 255);
}

.link-app {
    font-size: 20px;
}

[role="main"] {
    padding-top: 48px;
    /* Space for fixed navbar */
}

.navbar-app {
    background-color: #000000e8;
    color: rgb(255, 255, 255);
}

.nav-text {
    vertical-align: middle;
    position: relative;
    display: table-cell;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: #000000e8;
}

.shadow {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

#card-empleado {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    border-radius: 1rem;
}

.icon-up {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    font-size: 1.7rem;
    display: none;
    cursor: pointer;
}

.input-gray {
    background-color: #f1f2f6;
}

@media screen and (max-width: 900px) {
    .main-menu {
        display: none;
    }
}


/* sidebar */

.main-menu {
    height: 100vh;
    background-color: #000000e8;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: all 1s;
    padding-top: 50px;
    padding-left: 0;
}

.main-menu li:hover {
    border-left: 5px solid #181818e8;
    background-color: #000000e8;
}

.main-menu li {
    width: 250px;
    list-style: none;
    border-bottom: 0.7px solid #000000e8;
}

.main-menu a {
    text-decoration: none;
}

.main-menu a:hover {
    text-decoration: none;
}

.main-menu ul {
    margin: 0;
    padding: 0;
}

.main-menu .nav-text {
    vertical-align: middle;
    position: relative;
    display: table-cell;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(230, 227, 227);
}

.main-menu .fa {
    vertical-align: middle;
    position: relative;
    display: table-cell;
    width: 60px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    color: rgb(230, 227, 227);
}
.section-abajo{
    position:absolute;
    bottom:0;
}
.icon-load{
    font-size: 25px;
    color: rgb(105, 105, 105);
}

/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}