body{
    background: #FAFBFE;
    overflow-y: hidden;
}
.link {
    color: black;
}

.link:hover {
    text-decoration: none;
    color: black;
}
.shadow {
    box-shadow: 0px 6px 20px -4px rgba(0, 0, 0, 0.15);
}
.flex-main{
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    align-content: center;
}
.card{
    overflow: hidden;
    padding: 2.5rem;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 0.75rem 1.5rem rgba(51, 56, 63, 0.03)!important;

}
.box_icon{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #000000e8;
    position: absolute;
    top: -30px;
    right: -30px;
}
.icon{
    position: absolute;
    top: 60%;
    left: 46%;
    transform: translate(-60%,-46%);
    right: 10px;
    color: white;
    font-size: 1.2rem;
}

/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}