body{
    background: #FAFBFE;
}
.navbar-app {
    background-color: #000000e8;
    color: rgb(255, 255, 255);
}

.link {
    color: black;
}

.link:hover {
    text-decoration: none;
    color: black;
}

.bg-overlay {
    width: 100%;
    height: 91vh;
    background: #000000e8;
    clip-path: polygon(0 0, 100% 0%, 100% 51%, 3% 82%);
    position: absolute;
}

.bg {
    height: 91vh;
}

.shadow {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.avatar {
    width: 80px;
    height: 80px;
    background: rgb(255, 255, 255);
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #adadad;
}

.input-gray {
    background-color: #f1f2f6;
}

.titles {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
}

.subtitles {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

.paragraft {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
.btn-mybtn {
    color: #000000e8;
    background-color: transparent;
    background-image: none;
    border-color: #000000e8;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #000000e8;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-mybtn:hover {
    color: white;
    background-color: #000000e8;
    border-color: #000000e8;
}

.btn-mybtn:focus {
    outline: none;
}
.flex-main{
    display: flex;
    align-items: center;
    height: 100vh;
}

/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}