:root {
    --bg-color: #000000e8; 
  }
body{
    overflow-x: hidden;
    color: var(--bg-color);
    background: #FAFBFE;
}

.btn-outline-mybtn {
    color: #000000e8;
    background-color: transparent;
    background-image: none;
    border-color: #000000e8;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #000000e8;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-outline-mybtn:hover {
    color: white;
    background-color: #000000e8;
    border-color: #000000e8;
}

.btn-outline-mybtn:focus {
    outline: none;
}

.btn-mybtn {
    color: #fff;
    background-color: #000000e8;
    background-image: none;
    border-color: #000000e8;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #000000e8;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-mybtn:hover {
    color: white;
    background-color: #000000e8;
    border-color: #000000e8;
    text-decoration: none;
}

.btn-mybtn:focus {
    outline: none;
}

.text-info-validate{
    font-size: 14px;
}
.overlay{
    width: 850px;
    height: 100vh;
    position: absolute;
    right: -150px;
    top: 0px;
    background-image: url(../../images/landing_page/adult-casual-clothes-296881.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    filter: grayscale(100%) blur(4px);
    background-attachment: fixed;
    transition: all .6s;
}
.overlay:hover{
    filter: grayscale(100%) blur(0px);
    background-attachment: fixed;

}

.section_1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.section_2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.card{
    box-shadow: 0 0.75rem 1.5rem rgba(51, 56, 63, 0.03)!important;
    transition: 0.8s;
    border: 1px solid #dadada6c;

}
.card-1:hover{
    transform: translateY(-5%);
    transition: 0.8s;
}
.card-2:hover{
    transform: translateY(-5%);
    transition: 0.8s;
}
.card_medio:hover{
    height: 450px;
    top: 45%;
    transition: 0.8s;
    position: absolute;
}

.card-hide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    border-radius: 1rem;
}

a{
    cursor: pointer;
}

@media screen and (max-width:900px){
    .overlay{
        display: none;
    }
}
.circle{
    width: max-content;
    height: max-content;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    padding: 15px;
}
.card{
    height: 300px;
}
.card h5{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card p{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 350px;
}

.black {
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
    transition: .6s;
}
.parrafo_inicio{
    font-size: 1.2rem;
}